


header h1 {
    color: rgb(20, 168, 168);
    font-size: 36px;
    text-align: center;
}

article {
    background-color: aqua;
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.section1 {
    display: flex;
    padding: 0px;
    margin-bottom: 20px;
    flex-direction: row;
    gap: 1rem;
 
    justify-content: space-evenly;
}


.section2 {
    display: flex;
    padding: 0px;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
 
}


.section3 {
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
 
}

article {
    background-color: aqua;
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}