
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

head {
    font-family: 'Montserrat', sans-serif;

}
.header_principal {
    display: flex;
    justify-content: space-between;
    background-color: #FADCD9;
    margin: 19px;
    padding: 18px;
    border-radius: 10px;
    overflow: hidden; /* evita colapso */
    gap: 19px;
}

.header_p{
    font-weight:bolder;
    font-size: 30px;
}

.nav_h {
        display: flex;
        align-items: center;
        gap: 70px;
        
    }


.a_h {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 10;
}

.vista {
    display: grid;
    grid-template-columns:  2fr 1fr;
    gap: 24px;
}

.vista {
    margin: 18px;
}

.caja1 {
    background-color: #FADCD9;
    border-radius: 20px;
    padding: 18px;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
}

 h1 {
    font-size: 60px;
 }
.img_caja1 {
    height: 118.97px;
    width: 119.01px;


}



.img_caja2 {

    border-radius: 20px;
}

.caja3 {
    height: 351px;
    background-color: #FADCD9;
    border-radius: 20px;
    padding: 18px;
    margin: 0;
}

.caja4 {
    height: 351px ;
    background-color: #F8AFA6;
    border-radius: 20px;
}

.header_caja4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 17px;
}

.principal {
    display: grid;
    grid-template-columns: 3fr 1fr ;
    gap: 19px;

}